* {
  margin: 0;
  padding: 0; }

/* ================================ Estilos Generales ================================ */
html {
  font-size: 62.5%; }

body * {
  font-family: 'Montserrat', sans-serif; }

body {
  background-color: #eeeeee; }

/* ================================ Header General ================================ */
header {
  margin: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #113a56; }
  header .navbar {
    background-color: #113a56;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    header .navbar .navbar__logo {
      background-color: #113a56;
      margin: auto;
      align-items: flex-start;
      width: 250px;
      height: 40px;
      z-index: 1; }
    header .navbar .navbar__links {
      margin-top: 1rem;
      background-color: #113a56;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-around;
      list-style: none; }
      header .navbar .navbar__links li {
        background-color: #113a56; }
        header .navbar .navbar__links li .navLink {
          background-color: #113a56;
          margin-left: 2rem;
          color: whitesmoke;
          font-size: 1.5rem;
          font-weight: 600;
          text-decoration: none; }
        header .navbar .navbar__links li .navLink:hover {
          color: #ffc26a; }

@media only screen and (min-width: 768px) {
  header .navbar {
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center; }
    header .navbar .navbar__logo {
      align-items: flex-start;
      width: 250px;
      height: 40px;
      flex: 1; }
    header .navbar .navbar__links {
      flex: 4;
      justify-content: flex-end; }
      header .navbar .navbar__links .navLink {
        margin-left: 3rem;
        font-size: 1.65rem; } }

@media only screen and (min-width: 1024px) {
  header .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    header .navbar .navbar__logo {
      align-items: flex-start;
      width: 250px;
      height: 40px;
      flex: 1; }
    header .navbar .navbar__links {
      justify-content: flex-end;
      margin-right: 10%;
      flex: 4; }
      header .navbar .navbar__links .navLink {
        margin-left: 6rem;
        font-size: 1.8rem; } }

.footer {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
  background-color: #ffffff;
  color: #4b4c4d; }
  .footer .social {
    text-align: center;
    padding-bottom: 25px; }
    .footer .social a {
      font-size: 24px;
      width: 40px;
      height: 40px;
      line-height: 40px;
      display: inline-block;
      text-align: center;
      border-radius: 50%;
      border: 1px solid #ccc;
      margin: 0 8px;
      color: inherit;
      opacity: 0.75; }
  .footer ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    text-align: center;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0; }
    .footer ul a {
      margin: 0.5rem;
      color: #113a56;
      text-decoration: none;
      opacity: 0.7; }
    .footer ul a:hover {
      opacity: 1; }
  .footer .mensaje {
    text-align: center;
    margin-top: 1rem;
    text-align: center;
    font-size: 13px;
    color: #aaa;
    margin-bottom: 0; }

/* ================================ Index ================================ */
.mainIndex {
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .mainIndex .presentacion {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; }
    .mainIndex .presentacion .containerTextos {
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center; }
    .mainIndex .presentacion .textoPresentacion {
      text-align: center;
      margin-top: 2rem;
      color: black; }
    .mainIndex .presentacion .containerTextos__titulo {
      color: black;
      font-size: 3rem;
      font-weight: 600; }
    .mainIndex .presentacion .containerTextos__subtitulo {
      color: black;
      font-size: 2.4rem;
      font-weight: 100; }
    .mainIndex .presentacion .mensajeEmpeza {
      text-align: center;
      margin-top: 30px; }
      .mainIndex .presentacion .mensajeEmpeza .btnNegro {
        margin-top: 0.5rem;
        width: 27rem;
        height: 3rem;
        border-radius: 5px;
        border-top: solid 2px grey;
        border-left: solid 2px grey;
        border-right: solid 2px #353535;
        border-bottom-width: solid 2px #353535;
        background-color: black;
        color: white;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s; }
      .mainIndex .presentacion .mensajeEmpeza .btnNegro:hover {
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
        transform: scale(1.05, 1.05); }
    .mainIndex .presentacion .imagenPrincipal {
      display: none; }

@media only screen and (min-width: 768px) {
  .mainIndex .presentacion .containerTextos__titulo {
    color: black;
    font-size: 3rem;
    font-weight: 600; }
  .mainIndex .presentacion .imagenPrincipal {
    margin: auto;
    display: flex;
    width: 33rem; } }

@media only screen and (min-width: 1024px) {
  .mainIndex .presentacion .containerTextos__titulo {
    color: black;
    font-size: 4.4rem;
    font-weight: 600; }
  .mainIndex .presentacion .mensajeEmpeza {
    font-size: small; }
  .mainIndex .presentacion .imagenPrincipal {
    display: flex;
    width: 50rem; } }

/* ================================ Servicios ================================ */
.mainServicios {
  width: 80%;
  margin: auto;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .mainServicios .mainServicios__presentacion {
    margin: auto;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black; }
    .mainServicios .mainServicios__presentacion h1 {
      text-align: center;
      font-size: 3rem;
      font-weight: 600;
      color: black; }

.itemsServicios {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 1rem;
  grid-row-gap: 1rem; }
  .itemsServicios .itemServicio {
    display: flex;
    flex-direction: column;
    width: 85%;
    height: 20rem;
    align-items: center;
    padding: 2rem;
    margin-top: 1.5rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
    border-top: solid 2px rgba(128, 128, 128, 0.2);
    border-left: solid 2px rgba(128, 128, 128, 0.2);
    border-right: solid 2px rgba(53, 53, 53, 0.2);
    border-bottom: solid 2px rgba(53, 53, 53, 0.2); }
    .itemsServicios .itemServicio .itemServicio__header {
      width: 100%;
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      justify-content: space-between; }
      .itemsServicios .itemServicio .itemServicio__header img {
        width: 5rem; }
      .itemsServicios .itemServicio .itemServicio__header h3 {
        text-align: center;
        font-size: 2.5rem;
        font-weight: 700;
        color: black;
        flex: 3; }
    .itemsServicios .itemServicio .itemServicio__descripcion {
      margin-top: 1.5rem;
      font-size: 1.5rem;
      text-align: justify; }
  .itemsServicios .itemServicio:hover {
    box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.3);
    transform: scale(1.05, 1.05); }

@media only screen and (min-width: 768px) {
  .itemsServicios {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 1rem;
    grid-row-gap: 1rem; } }

@media only screen and (min-width: 1024px) {
  .itemsServicios {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 1rem;
    grid-row-gap: 1rem; } }

/* ================================ Shop ================================ */
.mainShop__presentacion {
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black; }
  .mainShop__presentacion h1 {
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    color: black; }

.gridShop {
  margin-top: 3rem;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 1rem;
  grid-row-gap: 1rem; }

.itemShop {
  display: grid;
  justify-items: center;
  align-items: center;
  background-color: white;
  border-radius: 1rem;
  width: 80%;
  grid-template-columns: 1fr;
  grid-template-rows: 4fr 1fr 1fr 1fr 1fr 1fr;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s; }
  .itemShop .itemShop__titulo {
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    color: black; }
  .itemShop .itemShop__imagen {
    align-items: center;
    width: 18rem;
    background-color: black; }
  .itemShop .itemShop__precio {
    text-align: center;
    color: black;
    font-size: 2rem;
    font-weight: 700; }
  .itemShop .botonComprarItemShop {
    margin-top: 0.5rem;
    width: 7rem;
    height: 3rem;
    border-radius: 5px;
    border-top: solid 2px grey;
    border-left: solid 2px grey;
    border-right: solid 2px #353535;
    border-bottom-width: solid 2px #353535;
    background-color: black;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s; }
  .itemShop .botonComprarItemShop:hover {
    transform: scale(1.05, 1.05);
    transition: 0.3s; }

.itemShop:hover {
  box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.3); }

.itemShop * {
  background-color: white; }

@media only screen and (min-width: 768px) {
  .gridShop {
    margin-top: 3rem;
    margin-left: 10%;
    margin-right: 10%;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0.5rem;
    grid-row-gap: 1rem; } }

@media only screen and (min-width: 1024px) {
  .gridShop {
    margin-top: 5rem;
    margin-left: 10%;
    margin-right: 10%;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 1.5rem;
    grid-row-gap: 2rem; } }

/* ================================ Contacto ================================ */
.tituloContacto {
  margin: auto;
  margin-bottom: 2rem;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black; }
  .tituloContacto h1 {
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    color: black; }

/* ================================ 404 ================================ */
.image404 {
  width: 350px; }

.botonVolverInicio {
  margin-left: 2rem;
  color: whitesmoke;
  font-size: 1.5rem;
  font-weight: 300;
  text-decoration: none; }

.columna404 {
  height: 100%; }

.tituloError {
  margin-top: 40px;
  font-weight: bold;
  color: black;
  font-size: 3rem;
  font-weight: 600; }

.mensajeError {
  margin-bottom: 15px;
  font-weight: bold; }

.btnBackToHome {
  margin-top: 0.5rem;
  width: 27rem;
  height: 3rem;
  border-radius: 5px;
  border-top: solid 2px grey;
  border-left: solid 2px grey;
  border-right: solid 2px #353535;
  border-bottom-width: solid 2px #353535;
  background-color: black;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s; }
